.Container {
    width: 90px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition-duration: 0.25s;
    &:hover {
        background-color: rgba(188, 235, 255, 0.274)
    }
    .Star {
        position: absolute;
        font-size: 10px;
        top: 3px;
        right: 15px;
        color: rgb(226, 222, 3);
    }
    .FolderIcon {
        font-size: 50px;
    }
    .FolderName {
        margin: 0;
        word-wrap: break-word;
        user-select: none;
    }
}