.Container {
    width: 90px;
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
    position: relative;
    .FileName {
        margin: 0;
        font-size: 16px;
    }
    .Star {
        position: absolute;
        font-size: 10px;
        top: 0;
        right: 15px;
        color: rgb(226, 222, 3);
    }
}

.pdf {
    color: rgb(230, 55, 55);
}
.doc {
    color: rgb(54, 126, 233);
}
.xml {
    color: rgb(31, 230, 31);
}
.ppt {
    color: rgb(255, 176, 7);
}
.txt {
    color: rgb(238, 222, 6);
}
.zip {
    color: rgb(76, 76, 112);
}
.image {
    color: rgb(39, 163, 76);
}
.music {
    color: rgb(47, 49, 165);
}
.video {
    color: rgb(121, 32, 148);
}
.default {
    color: rgb(202, 202, 202);
}