.Container {
    min-height: 70px;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 10% auto 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 2px;
    .PhotoDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .TextDiv{
        .NameDiv {
            margin: 0;
            margin-top: 5px;
        }

        .ContentDiv{
            .Content {
                font-size: 18px;
                margin: 0;
            }
            .TextField {
                background-color: rgba(255, 255, 255, 0.582);
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    
    .SettingsDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
}