.pdf {
    color: rgb(230, 55, 55);
}
.word {
    color: rgb(54, 126, 233);
}
.excel {
    color: rgb(31, 230, 31);
}
.slide {
    color: rgb(255, 176, 7);
}
.text {
    color: rgb(238, 222, 6);
}
.archive {
    color: rgb(76, 76, 112);
}
.image {
    color: rgb(39, 163, 76);
}
.audio {
    color: rgb(47, 49, 165);
}
.video {
    color: rgb(121, 32, 148);
}
.undefined {
    color: rgb(202, 202, 202);
}