.FileTitle {
    font-weight: 500;
    padding: 10px;
    padding-left: 25px;
    margin: 0;
    background-color: rgb(226, 226, 226);
    margin-bottom: 10px;
    user-select: none;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}