.Container {
    display: grid;
    grid-template-columns: 340px auto;
    grid-template-rows: 70px 88.5vh;
    .AppbarDiv {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .SidebarDiv {
        grid-column: 1/2;
        grid-row: 2/3;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }

    .MainDiv {
        display: grid;
        grid-template-rows: auto 90%;
        .TopbarDiv {
            grid-row: 1/2;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            box-shadow: 0 3px 4px -2px rgb(153, 153, 153);
            z-index: 1;

        }
        .DashboardDiv {
            max-height: 100%;
            overflow-y: auto;
            grid-row: 2/3;
            padding-bottom: 4vh;
        }
    }
}