.Container {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 90%;
    margin: 0 auto 0 auto;
    margin-bottom: 100px;
    border-radius: 5px;
    .InputDiv {
        margin-bottom: 2px;
        .TextField {
            padding-left: 20px;
        }
    }

}